<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Omakirjasto</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Yhteensä <%= Book.count %> kirjaa. Valitse kirja ja anna mennä</p>
    </div>
  </div>
  <div class="row">
    <%# Book.limit(20).order("RAND()").each do |book| %>
    <% @books.each do |book| %>
      <div class="col-md-4">
        <%= link_to(book, {class: 'book-thumbnail'}) do %>
          <div class="book thumbnail <%= book_class_from_age(book.date_published) %>">
            <div class="caption">
              <h3><%= book.title %></h3>
              <p class="lead"><%= truncate(book.author.gsub(/\|/, " · "), length: 90) %></p>
              <% if !book.publisher.blank? %>
                <p><%= book.publisher %></p>
              <% end %>
              <p><%= book.date_published.strftime("%Y") unless book.date_published.blank? %></p>
              <p class="text-muted"><%= book.isbn %></p>
            </div>
            <% if !book.choice.blank? %>
              <% if book.choice == "recycle" %>
                <span class="overlay glyphicon glyphicon-ban-circle recycle"></span>
              <% else %>
                <span class="overlay glyphicon glyphicon-ok-circle"></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= paginate @books %>
    </div>
  </div>
</div>

