<div class="container">
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation"><%= link_to books_path do %><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Kirjasto<% end %></li>
    </ul>
  </nav>  
  <% if flash[:previous] %>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <% prev_choice = flash[:previous]['choice'] %>
        <% human_text = prev_choice == "true" ? "varastoon" : "kiertoon" %>
        <p class="text-muted">&quot;<%= flash[:previous]['title'] %>&quot; <%= human_text %>. <%= link_to "Undo", book_path(flash[:previous]['id'], undo: true) %>.</p>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <%
        bg_style = "background: #{book_color_overlay_from_age(@book.date_published)}, url('#{book_cover_librarything(@book)}'); background-size: cover;"
      %>
      <div class="jumbotron book stack text-center <%= book_class_from_age(@book.date_published) %> fade" style="<%= bg_style %>">
        <h1><%= @book.title %></h1>
        <p class="lead"><%= @book.author.gsub('|'," · ") %></p>
        <div class="book-registry-details">
          <% if !@book.publisher.blank? %>
            <p><%= @book.publisher %></p>
          <% end %>
          <p><%= @book.date_published.strftime("%Y") unless @book.date_published.blank? %></p>
          <p class="text-muted"><%= @book.isbn %></p>
        </div>
        <% if !@book.choice.blank? %>
          <% if @book.choice == "recycle" %>
            <span class="overlay glyphicon glyphicon-ban-circle recycle"></span>
          <% else %>
            <span class="overlay glyphicon glyphicon-ok-circle"></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container bottom-buttons">
  <div class="row">
    <div class="col-md-offset-2 col-md-4">
      <p><%= button_to "Kiertoon", {action: :update, params: {to_keep: false}}, data: {disable_with: "Kiitos!"}, class: 'btn btn-lg btn-danger btn-block', method: :patch %></p>
    </div>
    <div class="col-md-4">
      <p><%= button_to "Varastoon", {action: :update, params: {to_keep: true}}, data: {disable_with: "Voi voi..."}, class: 'btn btn-lg btn-success btn-block', method: :patch %></p>
    </div>
  </div>
  <p class="visible-md visible-lg">&nbsp;</p>
</div>
<%= javascript_tag do %>
  $(document).ready( function() { $(".jumbotron").addClass("in"); } );
<% end %>
