<!DOCTYPE html>
<html>
<head>
  <title>Bookcat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<% if !flash.empty? %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= alert %></div>
        <% end %>
        <% if flash[:notice] %>
          <div class="alert alert-info"><%= notice %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
